$starFieldWidth: 2560;
$starFieldHeight: 2560;
$starStartOffset: 600px;

$starOneScrollDuration: 100s;
$starTwoScrollDuration: 125s;
$starThreeScrollDuration: 175s;

$numStarOneStars: 1700;
$numStarTwoStars: 700;
$numStarThreeStars: 200;
$numShootingStars: 10;

$width: 100%;

.button {
  --border-width: 4px;
  --corner-value: 20px;
  --cropped-corner: polygon(100% 0, 100% calc(100% - var(--corner-value)), calc(100% - var(--corner-value)) 100%, 0 100%, 0 0);
}
.polygon-btn {
  background: transparent;
  color: inherit;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: var(--border-width) solid #FFFFFF;
  font-family: inherit;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-clip-path: var(--cropped-corner);
  clip-path: var(--cropped-corner);
  position: relative;
  min-width: 15rem;
  transition: all .18s ease-out;
  letter-spacing: 2px;

  
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: var(--corner-value);
    height: calc(var(--corner-value) * 2);
    bottom: calc(var(--corner-value) * -1);
    right: calc(var(--corner-value) * -0.3);
    background: #FFFFFF;
    transform: rotate(45deg) translateX(0%)
  }
  
  
  
  &:hover {
    color: #060606;
    background-color: #FFFFFF;
    letter-spacing: 1px;
    
    
    
  }
}

body {
  height: 100%;
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #272730 0%, #070710 100%);
 }
 

@function create-stars($n) {
  $stars: "#{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";

  @for $i from 2 through $n {
    $stars: "#{$stars} , #{random($starFieldWidth)}px #{random($starFieldHeight)}px #FFF";
  }

  @return unquote($stars);
}

@mixin star-template($numStars, $starSize, $scrollSpeed) {
  z-index: 10;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  animation: animStar $scrollSpeed linear infinite;

  &:after {
    content: " ";
    top: -$starStartOffset;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
  }
}

@mixin shooting-star-template($numStars, $starSize, $speed) {
  z-index: 10;
  width: $starSize;
  height: $starSize + 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
  animation: animShootingStar $speed linear infinite;
}

.stars {
  @include star-template($numStarOneStars, 1px, $starOneScrollDuration);
}

.stars1 {
  @include star-template($numStarTwoStars, 2px, $starTwoScrollDuration);
}

.stars2 {
  @include star-template($numStarThreeStars, 3px, $starThreeScrollDuration);
}

.shooting-stars {
  @include shooting-star-template($numShootingStars, 5px, 10s);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px);
  }
}

@keyframes animShootingStar {
  from {
    transform: translateY(0px) translateX(0px) rotate(-45deg);
    opacity: 1;
    height: 5px;
  }
  to {
    transform: translateY(-#{$starFieldHeight}px) translateX(-#{$starFieldWidth}px) rotate(-45deg);
    opacity: 1;
    height: 800px;
  }
}

@keyframes waving {
	0% {
		transform: scale(-1, -1) rotate(40deg);
	}
	50% {
		transform: scale(-1, -1) rotate(55deg);
	}
	100% {
		transform: scale(-1, -1) rotate(40deg);
	}
}
